<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $(document).on('click', '#submit_btn', function () {
            $("#my_h1").text("ajmad");
            $("#figure_img").empty();
        });
        /*$("form").submit(function (e) {
            $("#my_h1").text("ajmad");
            $("#figure_img").empty();
        });*/
        /*$("#submit_btn").click(function () {
            console.log("no comment");
            $("#figure_img").empty();
            $("#my_h1").load("ahmad hussain");
        });*/
    });
</script>-->
    {% load staticfiles %}
</head>
<body>
<div>
    <form id="myForm" method="POST">
        {% csrf_token %}
        <h1>Welcome to Tweets Analytica!</h1>
        <h2>Enter your user name <input name="user_name" type="text"></h2>
        <button id="submit_btn" type="submit" value="Submit">Submit</button>
    </form>
    <img id="figure_img" src={% static analysis_figure %} alt="place-holder">
</div>
</body>
</html>